.header {
  background-color: aliceblue;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  padding-top: 30px;
  padding-bottom: 30px;
}
.nav {
  display: flex;
  flex-direction: column;
}
/* .home {
 
} */
