.container {
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid cadetblue;
  padding: 10px;
}
.label {
  margin-top: 20px;
  display: block;
}
.input {
  font-size: 10px;
  width: 200px;
  padding: 5px;
  margin-top: 10px;
  display: block;
}
.addBtn {
  width: 150px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  height: 50px;
  border: 1px solid cadetblue;
  background: transparent;
  color: cadetblue;
}
.addBtn:hover {
  background-color: cadetblue;
  color: #e6e2d3;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
